@charset "UTF-8";
@import url("styles/styles_home.css");


html{
    margin-right: 25px;
    margin-left: 25px;
}

a{
    text-decoration: none;
    color: black;
    border: thin none #020202;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: arapey;
    font-style: normal;
    font-weight: 400;
}

.main_image{
    background-image: url("images/seeds.jpg");
    height: 140px;
    background-size: cover;
    margin-top: -39px;
    margin-bottom: -19px;
}

a:hover{
    text-decoration: none;
    font-size: 20px;
    border: thin solid #000000;
    border-radius: 10px;
}

a:active{
	color:white;
	background-color:black;
}

.header2{
    font-family: arapey;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    margin-top: -23px;
    margin-bottom: -21px;
	margin-left: 150px;
}

.main_content{
    margin: 0 150px 40px;
    font-size: 21px;
    line-height: 32px;
    border-style: outset;
    border-width: 5px;
    padding-left: 20px;
    padding-right: 20px;
	background-color: white;
}

body{
	height:100%;
	with:100%;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
}

table, th, td {
  border: 1px solid black;
}

td{
    text-align: center;	
}

.header{
    height: 125px;
    margin-left: none;
    margin-right: none;
    overflow: hidden;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
}

input{
    width: 270px;
    height: 24px;
    font-size: 1em;
    font-style: italic;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    
}

.description{
    text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.search-container{
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}

.title{
    float: left;
    margin-left: 15px;
    font-family: antic-didone;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
	margin-top: -20px
}

.title1{
	margin-bottom:-20px;
	
}

.title2{
    margin-bottom: 15px;
    font-size: 25px;
}

.nav{
    height: 37px;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(231,231,231,1.00) 71.26%,rgba(215,213,213,1.00) 86.52%,rgba(171,171,171,1.00) 100%);
    padding-top: 13px;
    padding-left: 10px;
}

.social{
    display: inline;
}

.footer{
    float: none;
    width: 22%;;
    margin-left: 39%;
	margin-right: 39%;
	margin-bottom: 15px;
    
}